@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
}

.service-card {
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
  width: 66.5vw;
  height: 63vh;
  position: relative;
  overflow: hidden;
  background-color: red;
}

.service-card h1 {
  z-index: 1;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 95%;
  position: absolute;
  top: 40vh;
  margin-left: 2vw;
  color: #FFFFFF;
}

.service-card p {
  z-index: 1;
  font-family: Poppins;
  font-style: normal;
  font-size: 75%;
  position: absolute;
  top: 45vh;
  margin-left: 2vw;
  color: #FFFFFF;
  margin-right: 10vw;
}

.service-card img {
  z-index: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 100%;
  -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%); 
  background: linear-gradient(180deg, rgba(3, 44, 102, 0.0104167) 1.51%, rgba(3, 44, 102, 0) 24.48%, rgba(3, 44, 102, 0.5) 72.32%);
}

