#ConnectedSections{
    background: url("./components/Assets/ToothTwoSections1.png") top -250px right 0px, url("./components/Assets/ToothTwoSections2.png") top 500px left 0px, url("./components/Assets/ToothTwoSections3.png")top 700px right 0px, #EBECEE;
	background-repeat: no-repeat;
    background-size: 250px, 300px, 400px;
}