.toggle-button{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 24px;
	width: 30px;
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	box-sizing: border-box;
	transform: rotate(180deg);

}

.toggle-button:focus{
	outline: none;
}

.toggle-button__line{
	width: 25px;
	height: 2.8px;
	background: #032C66;
	border-radius: 100px;
}

#tg3{
	width: 17px;
}

#tg1{
	width: 17px;
}