
.carousel .slick-slider{
	max-width: 70vw;
  align-items: center;
	left: 17%;
	display: block;
	position: relative;
}
.carousel .slick-slide {
  /*text-align: center;*/
	position: relative;
}

.carousel .slick-prev:before,
.slick-next:before {
  color: #777777;
}


.carousel .slick-prev{
	position: absolute;
	display: flex;
	flex-direction: row;
	left: 33vw;
	z-index: 10;
	
}

.carousel .slick-prev:before{
	content: url('../Assets/prev.svg');
	
}

.carousel .slick-next:before{
	content: url('../Assets/next.svg');
	
}

.carousel .slick-next{
	position: absolute;
	display: flex;
	flex-direction: row;
	right: 43vw;
	z-index: 10;
}

/*
.slick-arrow{
	width: 10px;
	border-radius: 100px;
	top: 30vh;
}
*/

.carousel .slick-prev, .slick-next{
	
	height: 0px;
	top: 100%
}

.carousel .slick-dots{
	display: flex;
  align-items: center;
  justify-content: center;
  top: auto;
	padding: 0;
	right: 5vw;
}


.carousel .slick-dots li button:before {
	content: url('../Assets/RectangleSem.svg');
}

.carousel .slick-dots li.slick-active button:before{
	content: url('../Assets/RectangleCom.svg');
}

@media screen and (max-width: 1085px){
	.carousel .slick-next{
		right: 40vw;
	}

	.carousel .slick-prev{
		left: 30vw;
	}
}

@media screen and (max-width: 768px){
	.carousel .slick-dots{
		top: auto;
	}

	.carousel .slick-next{
		right: 35vw;
	}

	.carousel .slick-prev{
		left: 27vw;
	}
}

@media screen and (max-width: 487px){
	.carousel .slick-next{
		right: 15vw;
	}

	.carousel .slick-prev{
		left: 15vw;
	}
}

@media screen and (max-width: 349px){
	.carousel .slick-next{
		right: 10vw;
	}

	.carousel .slick-prev{
		left: 10vw;
	}
}

@media screen and (max-width: 280px){
	.carousel .slick-next{
		right: 8vw;
	}

	.carousel .slick-prev{
		left: 8vw;
	}
}