@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.card{
	max-width: 30vw;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	font-family: 'Poppins', sans-serif;
}

.imageCard{
	width: 15vw;
  height: 20vh;
  object-fit: cover;
  margin-top: 15%;
  margin-right: 20px;
}

.titulosCard p{
	margin: 0;
}


.infosCard{
	margin-top: 7%;
	text-align: initial;
}

.textCard{
	max-width: 240px;
	font-size: 0.8rem;
	color: #1A1A1A;
	
}

.tit{
	font-weight: 700;
	color: #1A1A1A;
	font-size: 0.9rem;
}

.sub-tit{
	font-weight: 400;
	color: #7B7B7B;
	font-size: 0.7rem;
}

.hiperLink{
	text-decoration: none;
	color: #235FB4;
}

.photoCard{
	margin: 0;
}

@media screen and (max-width: 768px){
	.card{
		flex-direction: column;
		max-width: 90vw;
	}

	.imageCard{
		width: 90%;
  	height: 20vh;
	}

	.textCard{
		max-width: 100%;
	}
}