@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins&display=swap');

body,html{
	text-align: center;
	width: 100%;
	height: 100%;
}

.wwa{
	background: url("../Assets/ToothWhoWeAre2.png") top -205px right, url("../Assets/ToothWhoWeAre1.png") bottom -86px left;
	background-repeat: no-repeat;
	background-size: 235px;
	background-color: #EBECEE;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.container{
	display: flex;
	justify-content: space-around;
}

.photo{
	margin: auto;
}

.espace{
	width: 100px;
}

.photo .img{
	object-fit: cover;
	width: 36vw;
  	height: 39vw;
	flex: 0;
}


.quemSomos{
	flex-flow: column nowrap;
	max-width: 30vw;
	margin: 0 auto;
	display: flex;
	align-items: center;
	color: #032C66;
}

.quemSomos h1{
	margin-top: auto;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 2.5vw;
	padding-bottom: 4vh;
}

.text{
	text-align: justify;
	color: #1A1A1A;
	font-family: 'Poppins', sans-serif;
	font-size: 0.9vw;
	font-weight: 400;
}

.icons{
	display: grid;
	max-width: 800px;
	margin: 0 auto;
	grid-template-columns: repeat(3, 1fr);
  	max-width: 800px;
  
	margin: 0 auto;
	grid-gap: 0 1vw;
  	justify-content: center;
}

.icons > .icon{
	max-width: 100%;
	display: flex;
	justify-content: flex-end;
}

.square{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5px;
	padding-top: 30px;
}

.icon .subTitle{
	text-align: center;
}

.subTitle{
	padding-top: 10px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 0.9vw;
}

#Desenvolvimento{
	background-image: url("../Assets/Desenvolvimento.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#Empatia{
	background-image: url("../Assets/Empatia.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#Inconformismo{
	background-image: url("../Assets/Inconformismo.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#Perseveranca{
	background-image: url("../Assets/Perseveranca.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#Cooperacao{
	background-image: url("../Assets/Cooperacao.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#Representatividade{
	background-image: url("../Assets/Representatividade.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.icon{
	width: 6vw;
  	height: 6vw;
}
@media screen and (max-width: 1276px){
	.wwa{
		flex-direction: column;
		width: 100%;
		font-size: small;
		background: none;
		background-color: #E5E5E5;
	}
	.img{
		display: none;
	}
	.container{
		width:100%;
	}
	.icons{
		padding-top: 30px;
	}
	.photo{
		margin: 0;
	}
	.espace{
		display: none;
	}
	.quemSomos{
		max-width: 800px;
	}
	.icons{
		grid-gap: 10px;
	}
	.text{
		width: 80%;
    font-size: 1.7vh;
	}
	.subTitle{
		font-size: 2vw;
	}
	.quemSomos h1{
		font-size: 5vh;
	}
	.icon{
		width: 20vw;
    height: 10vh;
	}
}