@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.OurClients .clientMobile{
    display: none;
}
.OurClients{
    height: 100vh;
    width: 100%;
    z-index: 2;
    margin: 0px;
}
.OurClients .slick-slider{
	max-width: 70vw;
    align-items: center;
	left: 15%;
	display: block;
	position: relative;
}
.OurClients .slick-slide {
  position: relative;
}

.OurClients .slick-prev:before,
.slick-next:before {
  color: #777777;
}
.OurClients .slick-prev{
	position: absolute;
	display: flex;
    top: 65vh;
    left: 30vw;
	z-index: 20;
}
.OurClients .slick-prev:before{
	content: url('../Assets/prev.svg');
	
}
.OurClients .slick-next:before{
	content: url('../Assets/next.svg');
	
}
.OurClients .slick-next{
	position: absolute;
    display: flex;
    top: 65vh;
	right: 30vw;
    z-index: 20;
}
.OurClients .slick-dots{
	display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    top: 64vh;
    z-index: 10;
}
.OurClients .slick-dots li button:before {
	content: url('../Assets/gray_square.svg');
}
.OurClients .slick-dots li.slick-active button:before{
	content: url('../Assets/blue_square.svg');
}

.titleOurClientsBox {
    display: flex;
    justify-content: center;
    height: 20vh;
    margin: 0;
}

#titleOurClients{
    align-self: flex-end;
    font-family: Poppins;
    color: #032c66;
    text-align: center;
    font-weight: 700;
    font-size: 3vw;
    margin-bottom: 0px;
    z-index: 10;
}
.OurClients .name{
    color: #032c66;
    font-family: Poppins;
    font-size: 100%;
    font-weight: bold;
    letter-spacing: -0.015em;
    z-index: 10;
}
.OurClients .client{
    margin-top: 5vh;
    align-content: center;
    display: flex;
    flex-direction: row;
    z-index: 10;
}
.OurClients .image{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    z-index: 10;
}
.OurClients .client_photo{
    display: block;
    height: 270px;
    width: 306px;
    margin: auto;
    object-fit: cover;
    justify-content: center;
}
.OurClients .testimony{
    color: #1A1A1A;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 100%;
    letter-spacing: -0.015em;
    z-index: 10;
}
.OurClients .right{
    margin-right: 306px;
    text-align: left;
}
.OurClients .left{
    margin-left: 306px;
    text-align: right;
}
.OurClients .nameLeft{
    text-align: end;
    margin-left: 306px;
}
.OurClients .text{
    display: block;
    margin: 1vw;
    z-index: 10;
}
@media(max-width: 1480px){
    .OurClients .testimony{
        font-size: 90%;
    }
    .OurClients .name{
        font-size: 90%;
    }
}
@media(max-width: 1360px){
    .OurClients .testimony{
        font-size: 75%;
    }
    .OurClients .name{
        font-size: 75%;
    }
    .OurClients .slick-next{
        right: 25vw;
    }
    .OurClients .slick-prev{
        left: 25vw;        
    }
}
@media(max-width: 1200px){
    .OurClients{
        background: #e5e5e5;
        align-items: center;
        align-content: center;
    }
    #titleOurClients{
        font-size: 5vw;
        padding: 0;
    }
    .OurClients .testimony{
        font-size: 60%;
    }
    .OurClients .name{
        font-size: 60%;
    }
    .OurClients .image .client_photo{
        height: 210px;
        width: 238px;
    }
    .OurClients .right{
        margin-right: 238px;
    }
    .OurClients .left{
        margin-left: 238px;
    }
    .OurClients .nameLeft{
        margin-left: 238px;
    }
}
@media(max-width: 960px){
    .OurClients{
        background: #e5e5e5;
        align-items: center;
        align-content: center;
    }
    #titleOurClients{
        font-size: 4vw;
        padding: 0;
    }
    .OurClients .testimony{
        font-size: 45%;
    }
    .OurClients .name{
        font-size: 45%;
    }
    .OurClients .image .client_photo{
        height: 150px;
        width: 170px;
    }
    .OurClients .right{
        margin-right: 170px;
    }
    .OurClients .left{
        margin-left: 170px;
    }
    .OurClients .nameLeft{
        margin-left: 170px;
    }
}
@media(max-width: 700px){
    #titleOurClients{
        padding: 3%;
        text-align: center;
    }
    .OurClients{
        background: #e5e5e5;
        align-items: center;
        align-content: center;
    }
    .OurClients .client{
        display: none;
    }
    .OurClients .clientMobile{
        margin-top: 5vh;
        align-content: center;
        display: block;
        z-index: 10;
    }
    .OurClients .imageMobile{
        display: inline;
        align-items: center;
        justify-content: center;
        padding: 0;
        z-index: 10;
    }
    .OurClients .clientPhotoMobile{
        display: block;
        height: 45vw;
        width: 90vw;
        margin: auto;
        object-fit: cover;
        justify-content: center;
    }
    .OurClients .nameMobile{
        color: #032c66;
        font-family: Poppins;
        font-size: 60%;
        font-weight: bold;
        letter-spacing: -0.015em;
        z-index: 10;
    }
    .OurClients .testimonyMobile{
        color: #1A1A1A;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 65%;
        letter-spacing: -0.015em;
        z-index: 10;
    }
    .OurClients .slick-next{
        right: 3vw;
        top: 72.5vh;
    }
    .OurClients .slick-prev{
        left: 3vw;
        top: 72.5vh;
    }
    .OurClients .slick-dots{
        top: 70vh;
    }
}
