@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body{
    background-color: #e5e5e5;
}
.clientMobile{
    display: none;
}
.OurClients{
    background: url('../Assets/Vector_21.png') top -220px right, url('../Assets/Vector_10.png') bottom -90px left, url('../Assets/Vector_9.png') bottom -480px right,  #e5e5e5;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    z-index: 2;
    margin: 0px;
}
.slick-slider{
	max-width: 70vw;
    align-items: center;
	left: 15%;
	display: block;
	position: relative;
}
.slick-slide {
  position: relative;
}

.slick-prev:before,
.slick-next:before {
  color: #777777;
}
.slick-prev{
	position: absolute;
	display: flex;
    padding-top: 60vh;
    left: 30vw;
	z-index: 5;
	
}
.slick-prev:before{
	content: url('../Assets/prev.svg');
	
}
.slick-next:before{
	content: url('../Assets/next.svg');
	
}
.slick-next{
	position: absolute;
    display: flex;
    padding-top: 60vh;
	right: 30vw;
    z-index: 5;
}
.slick-dots{
	display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    padding-top: 60vh;
    z-index: 5;
}
.slick-dots li button:before {
	content: url('../Assets/gray_square.svg');
}
.slick-dots li.slick-active button:before{
	content: url('../Assets/blue_square.svg');
}
#title{
    font-family: Poppins;
    color: #032c66;
    text-align: center;
    font-weight: 700;
    font-size: 3vw;
    margin-bottom: 0px;
    padding-top: 15vh;
    z-index: 10;
}
.name{
    color: #032c66;
    font-family: Poppins;
    font-size: 100%;
    font-weight: bold;
    letter-spacing: -0.015em;
    z-index: 10;
}
.client{
    margin-top: 5vh;
    align-content: center;
    display: flex;
    flex-direction: row;
    z-index: 10;
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    z-index: 10;
}
.client_photo{
    display: block;
    height: 270px;
    width: 306px;
    margin: auto;
    object-fit: cover;
    justify-content: center;
}
.testimony{
    color: #1A1A1A;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 100%;
    letter-spacing: -0.015em;
    z-index: 10;
}
.right{
    margin-right: 306px;
    text-align: left;
}
.left{
    margin-left: 306px;
    text-align: right;
}
.nameLeft{
    margin-left: 306px;
}
.text{
    display: block;
    margin: 1vw;
    z-index: 10;
}
@media(max-width: 1480px){
    .testimony{
        font-size: 90%;
    }
    .name{
        font-size: 90%;
    }
}
@media(max-width: 1360px){
    .testimony{
        font-size: 75%;
    }
    .name{
        font-size: 75%;
    }
}
@media(max-width: 1200px){
    .OurClients{
        background: #e5e5e5;
        align-items: center;
        align-content: center;
    }
    #title{
        font-size: 5vw;
        padding: 0;
    }
    .testimony{
        font-size: 60%;
    }
    .name{
        font-size: 60%;
    }
    .image .client_photo{
        height: 210px;
        width: 238px;
    }
    .right{
        margin-right: 238px;
    }
    .left{
        margin-left: 238px;
    }
    .nameLeft{
        margin-left: 238px;
    }
}
@media(max-width: 960px){
    .OurClients{
        background: #e5e5e5;
        align-items: center;
        align-content: center;
    }
    #title{
        font-size: 4vw;
        padding: 0;
    }
    .testimony{
        font-size: 45%;
    }
    .name{
        font-size: 45%;
    }
    .image .client_photo{
        height: 150px;
        width: 170px;
    }
    .right{
        margin-right: 170px;
    }
    .left{
        margin-left: 170px;
    }
    .nameLeft{
        margin-left: 170px;
    }
}
@media(max-width: 700px){
    #title{
        padding: 3%;
        text-align: center;
    }
    .OurClients{
        background: #e5e5e5;
        align-items: center;
        align-content: center;
    }
    .client{
        display: none;
    }
    .clientMobile{
        margin-top: 5vh;
        align-content: center;
        display: block;
        z-index: 10;
    }
    .imageMobile{
        display: inline;
        align-items: center;
        justify-content: center;
        padding: 0;
        z-index: 10;
    }
    .clientPhotoMobile{
        display: block;
        height: 45vw;
        width: 90vw;
        margin: auto;
        object-fit: cover;
        justify-content: center;
    }
    .nameMobile{
        color: #032c66;
        font-family: Poppins;
        font-size: 60%;
        font-weight: bold;
        letter-spacing: -0.015em;
        z-index: 10;
    }
    .testimonyMobile{
        color: #1A1A1A;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 65%;
        letter-spacing: -0.015em;
        z-index: 10;
    }
}
