@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

.ourServicesSection {  
  display: flex;
  flex-direction: column;
  background-color:#032C66;
  height: 100vh;
  width: 100vw;
}

.ourServicesSection h1 {
  margin-top: 15vh;
  align-self: center;
  color: #EBECEE;
}

.slick-list {
  height: 65vh;
  margin-left: 12vw;
  margin-right: 12vw;
  margin-top: 2.5vh;
}

.slick-slider {
  align-self: center;
  width: 90vw;  
}

/* .slick-list .slick-track {
  width: 90vw;
  height: 65vh;
} */

.slick-slide {
  /* background-color: blue; */
  margin-left: 1vw;
  transition: .5s;
}

.slick-active{
  /* background-color: purple; */
  align-self: center;
  width: 50vw;
}

.slick-prev:before,
.slick-next:before {
  color: #777777;
}

.slick-prev{
	position: absolute;
	display: flex;
	flex-direction: row;
	left: 38.5vw;
  z-index: 10;
  top: 69.5vh;	
}

.slick-next{
	position: absolute;
	display: flex;
	flex-direction: row;
	right: 38.5vw;
  z-index: 10;
  top: 69.5vh;
}

.slick-prev:before{
	content: url('../Assets/Path_prev_services.png');
	
}
.slick-next:before{
	content: url('../Assets/Path_next_services.png');
	
}

.slick-dots li button:before {
	content: url('../Assets/RectangleLighter_services.png');
}
.slick-dots li.slick-active button:before{
	content: url('../Assets/Rectangle_services.png');
}

.slick-slide:hover {
  background-color: black;
  min-width: 80vw;
  align-self: center;
  overflow-x: visible;
  /* position: absolute; */
  left: 10vw;  
}

.slick-slide img {
  transition: .5s;
  z-index: -1;
}

.slick-slide img:hover { 
  /* background-color: black; */
  width: 80vw;
  height: auto; 
  overflow-x: visible; 
  align-self: center;
  position: absolute;
  left: 10vw;
}