@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

.ourServicesSection {  
  display: flex;
  flex-direction: column;
  background: url('../Assets/BlueTooth1.png') top 6px left 20px, url('../Assets/BlueTooth2.png') top right, #032C66;
  background-size: 960px;
  background-repeat: no-repeat;
  background-position: fixed;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}

.ourServicesSection h1{
  margin-top: 15vh;
  align-self: center;
  color: #EBECEE;
}

.ourServicesSection .slick-list {
  height: 65vh;
  margin-left: 12vw;
  margin-right: 12vw;
  margin-top: 2.5vh;
  margin-bottom: 3vh;
  order: 1;
}

.ourServicesSection .slick-slider {
  display: flex;
  flex-flow: row wrap;
  align-self: center;
  width: 90vw; 
  justify-content: center; 
}

.ourServicesSection .slick-slide {
  min-width: 65vw;
  transition: .5s;
}

.ourServicesSection .slick-prev:before,
.ourServicesSection .slick-next:before {
  color: #777777;
}

.ourServicesSection .slick-prev{
  position: static;
  height: auto;
  order: 2;
  transform: translate(0, 0); 
  margin-right: 1vh;  	
}

.ourServicesSection .slick-next{
  position: static;
  height: auto;
  order: 4;
  transform: translate(0, 0);
  margin-left: 1vh;
}

.ourServicesSection .slick-prev:before{
	content: url('../Assets/Path_prev_services.png');
	
}
.ourServicesSection .slick-next:before{
	content: url('../Assets/Path_next_services.png');
	
}

.ourServicesSection .slick-dots {
  display: flex !important;
  position: static;
  width: auto;
  height: auto;
  order: 3;
}

/* hiding all bullets by default */
.ourServicesSection .slick-dots li {
  display: none
}
/* only displaying the active bullets and the 2 bullets next to it */
.ourServicesSection .slick-dots li.slick-active,
.ourServicesSection .slick-dots li.slick-active + li,
.ourServicesSection .slick-dots li.slick-active + li + li {
  display: block;
}
/* displaying the last three bullets when slick-active class isn't applied to any li before them  */
.ourServicesSection .slick-dots li:nth-last-child(1),
.ourServicesSection .slick-dots li:nth-last-child(2),
.ourServicesSection .slick-dots li:nth-last-child(3) {
  display: block;
}
/* hiding the last three bullets if slick-active exist before them */
.ourServicesSection .slick-dots li.slick-active ~ li:nth-last-child(1),
.ourServicesSection .slick-dots li.slick-active ~ li:nth-last-child(2),
.ourServicesSection .slick-dots li.slick-active ~ li:nth-last-child(3) {
  display: none;
}
/* specific conditions to always display the last three bullets */
.ourServicesSection .slick-dots li.slick-active + li + li:nth-last-child(3),
.ourServicesSection .slick-dots li.slick-active + li + li:nth-last-child(2),
.ourServicesSection .slick-dots li.slick-active + li + li:nth-last-child(1),
.ourServicesSection .slick-dots li.slick-active + li:nth-last-child(3),
.ourServicesSection .slick-dots li.slick-active + li:nth-last-child(2),
.ourServicesSection .slick-dots li.slick-active + li:nth-last-child(1){
  display: block;
}

.ourServicesSection .slick-dots li button:before {
	content: url('../Assets/RectangleLighter_services.png');
}
.ourServicesSection .slick-dots li.slick-active button:before{
	content: url('../Assets/Rectangle_services.png');
}


.ourServicesSection .slick-slide img {
  z-index: -1;
}

@media (max-width: 1280px){
  .ourServicesSection{
    background: #032C66;
  }
  .ourServicesSection h1 {
    background: #032C66;
    margin-top: 10vh;
    font-size: 120%;
  }
  
  .ourServicesSection .slick-list {
    height: 90vh;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5vh;
  }
  
  .ourServicesSection .slick-slider {
    align-self: center;
    width: 90vw;  
  }
  
  .ourServicesSection .slick-slide {
    min-width: 65vw;
    transition: .5s;
  }

  .ourServicesSection .service-card {
    margin-top: 0;
    width: 90vw;
    height: 70vh;
  }

  .ourServicesSection .service-card img {
    height: 100%;
    width: auto;    
  }

  .ourServicesSection .service-card h1 {
    z-index: 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 95%;
    position: absolute;
    top: 25vh;
    margin-left: 4vw;
  }

  .ourServicesSection .service-card p {
    top: 40vh;
    margin-left: 4vw; 
    margin-right: 4vw;
    font-size: 75%;
    font-weight: 400;
  }

  .ourServicesSection .slick-prev{
    left: 25vw;
    top: 77vh;  	
  }
  
  .ourServicesSection .slick-next{
    right: 25vw;
    top: 76vh;
  }

  .ourServicesSection .slick-list {
    height: 70.5vh;
    margin-top: 2.5vh;
    z-index: 10;
  }
}