@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
	background-color: #EBECEE;
}
.tudo{
	display: flex;
	flex-direction: column;
	background-color: #EBECEE;
	justify-content: center;
	height: 100%;
}

.tudo h1{
	font-family: 'Poppins', sans-serif;
	align-items: center;
	font-weight: 700;
	color: #032C66;
	text-align: center;
	margin-top: auto;
}
