@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.tudo{
	background: url('../Assets/Diamond02.svg') top -150px right, url('../Assets/Diamond01.svg') top -280px left;
	background-repeat: no-repeat;
	background-size: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
}

.tudo h1{
	font-family: 'Poppins', sans-serif;
	align-items: center;
	font-weight: 700;
	color: #032C66;
	text-align: center;
	margin-top: auto;
	font-size: 5vh;
}


.BlogSlide{
	max-width: 100vw;
  margin-left: 10vw;
}

.content{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.content img{
	width: 15vw;
  height: 20vh;
  object-fit: cover;
  
  margin-right: 20px;
}

.contents{
	/*
	display: flex;
	*/
	flex-direction: row;
	justify-content: center;
}

.free-content{
	max-width: 70vw;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	padding-top: 60px;
	font-family: 'Poppins', sans-serif;
}

.free-content p {
	display: flex;
	font-weight: 500;
	color: #1A1A1A;
	font-size: 1rem;
}



.content p {
	font-weight: 700;
	font-size: 0.7rem;
	color: #1A1A1A;
}

.slide-content{
	display: flex;
	justify-content: center;
	position: initial;
	cursor: pointer;
}

.acesseCnt{
	margin: 2vw;
}

.parteBaixo{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
@media screen and (max-width: 1024px){
	.tudo{
        background: #e5e5e5;
	}
}

/* #container {
	margin-top: 20%;
} */

@media screen and (max-width: 768px){
	.content p{
		display: none;
	}
	.free-content p{
		font-size: 0.8rem;
	}
	.content img{
		width: 28vw;
		height: 15vh;
		padding-left: 3vw;
	}

	.slide-content .slick-slider{
		display: contents;
		position: absolute;
	}
	
	.slide-content .slick-prev{
		position: relative;
		display: flex;
		flex-direction: row;
		top: 5vh;
    left: -2vw;
		z-index: 10;
	}

	.slide-content .slick-next{
		position: relative;
		display: flex;
		flex-direction: row;
		top: 5vh;
    right: -2vw;
		z-index: 10;
	}
	
	.slide-content .slick-prev:before{
		content: url('../Assets/PrevMob.svg');	
	}
	.slide-content .slick-next:before{
		content: url('../Assets/NextMob.svg');	
	}
	.tudo{
		height: 106.2vh;
		background-image: none;
	}

}