@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
}

.contact {
  display: flex;
  align-items: center; 
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color:#032C66;
}

.info {
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  background-color: #ebecee;
  height: 80vh;
  width: 40vw; 
  position: relative; 
}

.info h1 {
  font-family: Poppins;
  font-style: bold;
  font-size: 230%;
  letter-spacing: -0,015em;
  color: #2b2b2b;
  margin-top: 3vh;
  margin-left: 7vw;
}

.info p {
  font-family: Poppins;  
  font-size: 1.7vh;
  color: #2b2b2b;
  margin-left: 7vw;
  margin-right: 7vw;
  margin-top: 2vh;
}

.label-float {
  display: flex;
  flex-direction: column;
  width: 100%;  
  position: relative;
}

.label-float .usernameActive {
  transform: translate(0, 3vh) scale(1);
  font-weight: 600;
}

.label-float .usernameInactive {
  transform: translate(0, 7vh) scale(1);
}


.label-float .subjectActive {
  transform: translate(0, 3vh) scale(1);
  font-weight: 600;
}

.label-float .active {
  transform: translate(0, 3vh) scale(1);
  font-weight: 600;
}

.label-float input {
  font-family: Poppins;
  font-style: normal;
  font-size: 95%;
  background: transparent;
  border: none;
  color: #2b2b2b;
  outline: none;
  padding: 2vh 0 0 0;
  margin-top: 5vh;
  margin-left: 7vw;
  margin-right: 7vw;
  border-bottom: 0.22vh solid #032C66; 

}

.label-float label{
  font-family: Poppins;
  font-style: normal;
  font-size: 95%;
  color: #2b2b2b;
  pointer-events: none;
  position: absolute;
  padding: 0;
  transform: translate(0, 7vh) scale(1);  
  transform-origin: top left;
  transition: all 0.2s ease-out;
  margin-left: 7vw;
}

.label-float:focus-within label {
  transform: translate(0, 3vh) scale(1);
  font-weight: 600;
}

/* .info input {
  font-family: Poppins;
  font-style: normal;
  font-size: 95%;
  margin-top: 5vh;
  margin-left: 7vw;
  margin-right: 7vw;
  background: transparent;
  border: none;
  border-bottom: 0.22vh solid #032C66; 
  color: #2b2b2b;
  outline: none;
} */


::-webkit-input-placeholder {
  color: #2b2b2b;
}

.info div+input+input{
  margin-top: 0;
  height: 15vh; 
}

.info_client {
  display: flex;
  flex-direction: row;
  margin-left: 7vw;
  margin-right: 7vw;
}

.info_client input {
  margin-left: 0;
  margin-right: 0;
  /* background-color: purple; */
}

.label-float .email_phone {
  margin: 0;
  /* background-color: blue; */
}

.label-float .emailActive {
  margin: 0;
  transform: translate(0, 3vh) scale(1);
  font-weight: 600;
}

.label-float .phoneActive {
  margin: 0;
  transform: translate(0, 3vh) scale(1);
  font-weight: 600;
}

.info_client .label-float { 
  display: flex;  
  width: 65%;
  /* background-color: red; */
}

.info_client .label-float+.label-float {
  margin-left: 5%;  
  width: 30%;
  /* background-color: gray;   */
}

.image_delta {
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
}

.image_delta img {
  height: 80vh;
}

.button_ontact {
  align-self: flex-end;
  position: absolute;
  bottom: 5vh;
  height: 5vh;
  width: 10vw;
  margin-right: 7vw;
  background-color: #032C66;
  color: #ebecee;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 95%;
  border: none;
  transition: .5s;
}

button:hover{
  background-color: #0850b4;
}

@media (max-width: 1280px){
  .info {
    margin-top: 1.5vh;
    flex-direction: column;
    background-color: #032C66;
    height: 90vh;
    width: 90vw;
    align-items: center;  
  }

  .info h1 {
    margin: 0;
    color: #ebecee;
  }

  .info p {
    color: #ebecee;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4vh;
  }

  .label-float input {
    margin: 2vh 0 0 0;
    color: #ebecee;
    width: 100%;
    border-bottom: 0.22vh solid #ebecee;
    margin-top: 6vh;
    font-size: 2vh;
  }

  .info_client {
    flex-direction: column;      
    width: 100%;    
  }

  .info_client .label-float{
    width: 100%;
  }

  .info_client .label-float+.label-float {
    margin-left: 0;
    width: 100%; 
  }

  .label-float label{
    color: #ebecee;
    margin-left: 0;
  }

  .button_ontact {
    background-color: #ebecee;
    align-self: center;
    color: #032C66;
    margin: 0;
    bottom: 6vh;
    height: 6vh;
    width: 20vw;
    font-size: 2.5vh;
    position: sticky;
  }

  img {
    display:none;
  }

}

